<div class="footer"
                    style="display: flex; width: 100%; margin-top: 2rem; border-top: 1px solid rgba(0, 0, 0, 0.17);padding-top: 18px;">

                    <p style="display: flex; flex: 1; padding-top: 10px;color: #707EAE;
                        font-weight: 400; font-size: 14px;">© 2023 All Rights Reserved. Stackup</p>
                    <div style="display: flex; gap: 20px;padding-top: 10px;color: #707EAE;
                        font-weight: 400; font-size: 14px;">
                        <p>Terms of Use </p>

                        <p> Terms of Use </p>
                    </div>
                </div>