<div class="container-fluid " style="max-width: 1400px; margin: auto;">
        <div class="row" style="height: 100vh;">

            <!--        Nav bar with bannername      -->

            <div class="col-3 py-3 px-0"
                style="display: flex; flex-direction: column;background: linear-gradient(162deg, #301F81 0%, #0F0441 100%); max-width: 275px;">

                <!--        Header       -->

                <h3 class="m-0 ps-4 pt-4" style="color: #fff;">Employee</h3>
                <p class="mb-4 ps-4"
                    style="color: #fff; font-size: 25px; font-weight: 200; letter-spacing: 2px; border-bottom:solid #FFFFFF2B;">
                    Managment</p>

                <!--        Nav bar      -->

                <ul class="nav"
                    style="color: rgba(255, 255, 255, 0.70); margin-top: 30px; flex: 1; padding-left: 27px;">
                    <li> <a href="/" style="text-decoration: none;"><span class="material-icons">
                                home
                            </span>Dashboard</li></a>
                    <li><a href=#><span class="material-icons">
                                leaderboard
                            </span>Employee</li></a>
                    <li><a href="#"><span class="material-icons">
                                person
                            </span>Profile</li></a>
                    <li><a href="/logout"><span class="material-icons">
                                lock
                            </span>Logout</li></a>
                </ul>
                <div class="px-2"
                    style="display: flex; color: #fff; align-items:center; border-top:solid #FFFFFF2B; align-items: center;gap: 5px; ">
                    <p style="padding-top: 9px;">Powered by </p>
                    <img src="/img/image 1.png">
                </div>

            </div>