<div class="pagenav" id="pagenav">
                    <button type="button" id="pgprev" class><i class="fa fa-angle-left" style="font-size:18px;"></i>
                    </button>
                    <div id="pgnum"></div>
                    
                    <button type="button" id="pgnext"><i class="fa fa-angle-right" style="font-size:18px"></i>
                    </button>

                    
                </div>