<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,200;0,500;1,200&family=Roboto:wght@300;500;900&display=swap"
      rel="stylesheet"
    />

  </head>
  <body>
    <div class="logincontainer">
      <h1>Register New User</h1>
      <form action="/register" method="POST">
        <div class="inputs">
          <label for="email">Email</label>
          <input type="email" name="email" required />
          <label for="password">Password</label>
          <input type="password" name="password" required />
        </div>
        <div class="buttons">
          <button>Register</button>
          <button>Cancel</button>
        </div>
      </form>

      <a href="/login" class="href" style="text-decoration: none;">Login</a>
    </div>
  </body>
</html>